@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
}

main{
    width: 340px;
    padding: 20px;
    margin: 20px auto;
    
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.431);
    background-color: white;
}

h1{
    font-size: 16px;
    text-align: center;
}

div{
    padding: 5px 0;
}

p{
    font-size: 12px;
    
    padding: 0 10px;
    margin: 5px 0;
}

p#objetivo{
    text-align: justify;
}

#objetivo{
    text-indent: 20px;
}

p::selection, strong::selection, a::selection{
    background-color: lightcoral;
}

fieldset{
    margin: 15px auto;
    border-radius: 8px;
}

legend{
    color: rgb(2, 70, 107);
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
}

a, a:visited{
    color: rgb(7, 7, 226);
    text-decoration: none;
}

a:hover{
    color: rgb(1, 192, 1);
    text-decoration: underline;
}
a:active{
    color: red;
}
